*{
 padding: 0%;
 margin: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%; 
    display: grid;
    grid-template-columns: 40% 60%;
}

.left{
    display:grid;
    grid-template-rows: 60% 40%;
}

#left-top{
    padding-top: 80px;
    padding-left: 60px;
    font-size: 100px;
    line-height: 100px;
    font-weight: 400;
}

.left-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 60px;
    padding-bottom: 30px;
}

.right{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-left: 200px;
    position: relative;
}


.right .right-top{
 
  width: 400px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
}

.star-rating{
    display: flex;
    gap: 11px;
}

.star-rating h4{
    font-size: 15px;
}

.right .image{
    background-color: salmon;
    width: 400px;
    height: 550px;
}

.gola{
    width: 140px;
    height: 140px;
    background-color: rgba(181, 210, 14, 0.901);
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 26%;
    top:40%;
}
.gola h4{
    font-size: 20px;
    font-weight: 200;
}

#degree-text{
    font-size: 20px;
    font-weight: 550;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    right:68%;
    position: absolute;
    bottom:3%;
}


.colors{
    display: flex;
    width: 160px;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 20px;
    border: 2px solid black;
}

.color1-2{
    display: flex;
    gap: 5px;
}

#color1{
    background-color: rgb(0, 217, 255);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#color2{
    background-color: rgb(1, 189, 111);
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.details{
    width: 55%;
}

.details h4{
    margin-bottom: 15px;
}

.details h5{
    line-height:20px;
}


@media (max-width: 600px) {

  
    .main{
        grid-template-rows: 50% 50%;
        grid-template-columns: 100%;
    }
    
    .left{
        grid-row: 1/2;
        grid-column: 1/2;
        grid-template-rows: 45% 55%;
    }
    
    #left-top{
        padding: 20px 40px;
        font-size: 60px;
        line-height: 60px;
    }
    
    .left-bottom{
        padding: 10px 20px;
    }


    .colors{
        width: 110px;
        height: 30px;
        padding: 0px 10px;
    }
    
    .colors h4{
        font-size: 15px;
    }


    .color1-2{
        gap: 5px;
    }
    
    #color1{
        width: 15px;
        height: 15px;
    }
    
    #color2{
        width: 15px;
        height: 15px;
    }
    
    .details{
        width: 100%;
    }
    
    .details h4{
        margin-bottom: 10px;
    }
    
    .details h5{
        font-size: 13px;
        line-height:16px;
    }


    
    .right{
        grid-row: 2/3;
        grid-column: 1/2;
        height: 100%;
        width: 100%;
        flex-direction: column-reverse;
        padding: 20px;
        position: relative;
    }
    
    
    .right .right-top{
     
        width: 100%;
        height: 30px;
        padding-right: 0px;
    }
    
    .star-rating{
        gap: 11px;
    }
    
    .star-rating h4{
        font-size: 15px;
    }
    
    .right .image{
        background-color: salmon;
        width: 100%;
        height: 80%;
    }
    
    .gola{
        width: 80px;
        height: 80px;
        right: 1%;
        top:7%;
    }
    .gola h4{
        font-size: 15px;
        font-weight: 200;
    }
    
    #degree-text{
        font-size: 15px;
        width: 120px;
        transform: rotate(0deg);
        left: 5%;
        bottom:86%;
    }


}